apiVersion: "external-secrets.io/v1alpha1"
kind: ExternalSecret
metadata:
  name: agis-bot-secrets
  labels:
    app: agis-bot
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
spec:
  target:
    name: agis-bot-secrets
  secretStoreRef:
    kind: ClusterSecretStore
    name: {{ .Values.clusterSecretStoreName }}
  refreshInterval: "10s"
  data:
    # Discord Configuration
    - remoteRef:
        key: {{ .Values.vaultSecretPath }}
        property: DISCORD_TOKEN
      secretKey: DISCORD_TOKEN
    
    # Database Configuration
    - remoteRef:
        key: {{ .Values.vaultSecretPath }}
        property: DB_HOST
      secretKey: DB_HOST
    - remoteRef:
        key: {{ .Values.vaultSecretPath }}
        property: DB_USER
      secretKey: DB_USER
    - remoteRef:
        key: {{ .Values.vaultSecretPath }}
        property: DB_PASSWORD
      secretKey: DB_PASSWORD
    - remoteRef:
        key: {{ .Values.vaultSecretPath }}
        property: DB_NAME
      secretKey: DB_NAME
    
    # Agones Configuration
    - remoteRef:
        key: {{ .Values.vaultSecretPath }}
        property: AGONES_ALLOCATOR_ENDPOINT
      secretKey: AGONES_ALLOCATOR_ENDPOINT
    - remoteRef:
        key: {{ .Values.vaultSecretPath }}
        property: AGONES_ALLOCATOR_TLS
      secretKey: AGONES_ALLOCATOR_TLS
    - remoteRef:
        key: {{ .Values.vaultSecretPath }}
        property: AGONES_NAMESPACE
      secretKey: AGONES_NAMESPACE
    
    # Discord Logging Channel IDs
    - remoteRef:
        key: {{ .Values.vaultSecretPath }}
        property: LOG_CHANNEL_GENERAL
      secretKey: LOG_CHANNEL_GENERAL
    - remoteRef:
        key: {{ .Values.vaultSecretPath }}
        property: LOG_CHANNEL_USER
      secretKey: LOG_CHANNEL_USER
    - remoteRef:
        key: {{ .Values.vaultSecretPath }}
        property: LOG_CHANNEL_MOD
      secretKey: LOG_CHANNEL_MOD
    - remoteRef:
        key: {{ .Values.vaultSecretPath }}
        property: LOG_CHANNEL_ERROR
      secretKey: LOG_CHANNEL_ERROR
    - remoteRef:
        key: {{ .Values.vaultSecretPath }}
        property: LOG_CHANNEL_CLEANUP
      secretKey: LOG_CHANNEL_CLEANUP
    - remoteRef:
        key: {{ .Values.vaultSecretPath }}
        property: LOG_CHANNEL_CLUSTER
      secretKey: LOG_CHANNEL_CLUSTER
    - remoteRef:
        key: {{ .Values.vaultSecretPath }}
        property: LOG_CHANNEL_EXPORT
      secretKey: LOG_CHANNEL_EXPORT
    - remoteRef:
        key: {{ .Values.vaultSecretPath }}
        property: LOG_CHANNEL_AUDIT
      secretKey: LOG_CHANNEL_AUDIT